LLMM/Angeles/PRACTICA/Entorno_VS-Code/Ejemplos/24-04-08_DTD/Ejemplo-6_directorioPC.dtd

<!ELEMENT sistema (unidad*)>

<!ENTITY % contenido "(directorio | fichero)*">
<!ENTITY % nombreyfecha "nombre, fecha">

<!ATTLIST unidad letra ID #REQUIRED>
<!ATTLIST fichero tamano CDATA #REQUIRED>

<!ELEMENT unidad %contenido; >
<!ELEMENT directorio (%nombreyfecha;, %contenido;) >
<!ELEMENT fichero (%nombreyfecha;) >
<!ELEMENT nombre (#PCDATA) >
<!ELEMENT fecha (dia, mes, anio)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT anio (#PCDATA)>